{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="bg-white">
		{% include 'partials/_header-home.html.twig' %}
        {% include 'partials/_contain-home.html.twig' %}
	</div>
{% endblock %}
