{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ToTheMoon!
{% endblock %}

{% block body %}
<!-- component -->
	<body style="overflow-y: hidden; overflow-x: hidden;">
		<section class="homescreen m-0 flex flex-col w-screen bg-gray-800 h-screen text-gray-100 ">
			{% include 'partials/_header-home.html.twig' %}
			{% include 'partials/_contain-home.html.twig' %}
		</section>
	</body>
{% endblock %}


