{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ToTheMoon!
{% endblock %}

{% block body %}
	<body class="dark:bg-gray-900 homescreen" style="overflow-y: hidden; overflow-x: hidden">
		{% include "partials/_header-home.html.twig" %} 
		{% include "partials/_contain-home.html.twig" %} 
	</body>
	<script>
	</script>
{% endblock %}
