<footer class="bg-white rounded-lg shadow mt-6 dark:bg-gray-800">
    <div class="w-full max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="{{path('app_home')}}" class="hover:underline">TotheMoon™</a>. Tous droits réservés.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="{{path('app_home')}}" class="hover:underline me-4 md:me-6">Accueil</a>
        </li>
        <li>
            <a href="{{path('app_score_inplay')}}" class="hover:underline me-4 md:me-6">Direct</a>
        </li>
        <li>
            <a href="{{path('app_statistiques')}}" class="hover:underline me-4 md:me-6">Statistiques</a>
        </li>
        <li>
            <a href="#" class="hover:underline">En savoir plus</a>
        </li>
    </ul>
    </div>
</footer>
