{% extends 'base.html.twig' %}

{% block title %}Hello ScoreInplayController!
{% endblock %}

{% block body %}
	{% include 'partials/_header-home.html.twig' %}

	<div class="h-screen w-screen bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')] p-8 flex flex-col">
	{% include 'partials/_breadcrump.html.twig' %}
		<div class="w-5/6 shadow-xl	">
			<a href="#" class="block p-6 max-w-ful rounded-lg dark:bg-gray-800 ">
				<h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white mb-4">République Tchèque / Czech Liga Pro</h5>
				<div class="CLP">
				</div>
			</a>
		</div>
		<div class="my-4"></div>
		<div class="w-5/6 shadow-xl	">
			<a href="#" class="block  p-6 max-w-ful rounded-lg dark:bg-gray-800 ">
				<h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">International / TT Elite série</h5>
				<div class="TTES">
				</div>
			</a>
		</div>
	</div>
	<script>
		$(document).ready(function() {
				fetchDataAndUptade();
				setInterval(fetchDataAndUptade, 2500)
				});
	</script>


{% endblock %}
